* {
    border: 0;
    margin: 0;

    --background-color: rgb(255, 243, 192);


    --case-size: 15vmin;
    --case-background: #234567;
    --case-hover-background: #5b86b1;
    --case-margin: 1vmin;
    --case-border-radius: 3.5vmin;
}

body {
    background: var(--background-color);
    display: flex;
    height: 100vh;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

h1{
    color: #234567;
    font-family: Arial;
    font-size: 7vw;
    margin-bottom: 5vh;

}

.board {
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
}

.case{
    font-size: 10vmin;
    display: flex;
    cursor: pointer;
    width: var(--case-size);
    height: var(--case-size);
    background-color: var(--case-background);
    margin: var(--case-margin);
    border-radius: var(--case-border-radius);
    transition: all ease 300ms;
    justify-content: center;
    align-items: center;
}

.case:hover {
    background-color: var(--case-hover-background) ;
    transform: scale(1.2);
}

.content {
    text-align: center;
    transition: all ease 200ms;
}

button {
    cursor: pointer;
    margin-top: 5vh;
    border-radius: 20px;
    background: #8b283d;
    color: white;
    padding: 10px;
    transition: all cubic-bezier(0.02, 0.2, 0.86, 2.38) 200ms;
    box-shadow: #234567 0px 0px;
}

button:hover {
    background: #f05c7c;
    transform: scale(1.2);
    box-shadow: #23456749 5px 5px 5px;

}