

#NBshuttle{
  position: fixed;
  margin-left: auto;
  margin-right: auto;

  transform: rotate(-90deg);
  width: 10mm;
  height:  13mm;
  right: 1vw;

  top: calc(100vh/8 * 1 - 3mm);



  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;


  background-image: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg width="152.84447mm" height="236.86047mm" viewBox="0 0 152.84447 236.86047" version="1.1" id="svg5" xml:space="preserve" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"%3E%3Csodipodi:namedview id="namedview7" pagecolor="%23ffffff" bordercolor="%23000000" borderopacity="0.25" inkscape:showpageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0" inkscape:deskcolor="%23d1d1d1" inkscape:document-units="mm" showgrid="false" /%3E%3Cdefs id="defs2" /%3E%3Cg inkscape:label="Calque 1" inkscape:groupmode="layer" id="layer1" transform="translate(-1.0681068,-1.0032812)"%3E%3Cimage width="154.25209" height="237.59584" preserveAspectRatio="none" id="image17" x="0.58363461" y="0.78272319" /%3E%3Cpath style="opacity:1;fill:%23ffffff;stroke-width:0.264583" d="m 51.185407,202.23254 c -0.185943,-17.42781 3.730066,-23.78285 6.899992,-32.74361 0.232056,-0.65598 0.125455,-108.267171 0.125455,-108.267171 0,0 -8.193146,46.498181 -8.279993,47.547231 -1.972269,23.82365 -20.307223,31.34889 -43.156322,57.45813 -3.2116677,3.66991 -5.1074429,8.68976 -5.5199947,13.54907 -0.41948427,4.94096 0,12.41999 0,12.41999 0,0 49.9393017,10.82732 49.9308627,10.03636 z" id="path233" sodipodi:nodetypes="sscssscs" /%3E%3Cpath style="opacity:1;fill:%23ffffff;stroke-width:0.264583" d="m 103.79527,202.21188 c 0.18594,-17.42781 -3.73007,-23.78285 -6.899992,-32.74361 -0.232056,-0.65598 -0.125455,-108.267169 -0.125455,-108.267169 0,0 8.193147,46.498179 8.279987,47.547229 1.97227,23.82365 20.30723,31.34889 43.15632,57.45813 3.21167,3.66991 5.10745,8.68976 5.52,13.54907 0.41948,4.94096 0,12.41999 0,12.41999 0,0 -49.9393,10.82732 -49.93086,10.03636 z" id="path233-3" sodipodi:nodetypes="sscssscs" /%3E%3Cpath style="opacity:1;fill:%23ffffff;stroke-width:0.264583" d="M 77.907199,1.0036354 C 65.880136,0.85201436 60.343578,49.429045 60.343578,49.429045 c 0,0 0.831685,120.902395 -0.250907,121.439885 -6.691767,3.32239 -6.460203,30.09324 -6.649085,42.52905 -0.0087,0.576 7.276357,-0.12545 7.276357,-0.12545 0,0 -2.085293,5.57378 -0.501817,7.52726 2.979221,3.67537 14.050896,2.00727 14.050896,2.00727 0,0 0.752727,15.26464 3.261815,15.05453 2.759997,0.16625 3.512722,-15.05453 3.512722,-15.05453 0,0 10.900439,2.02655 13.674535,-1.6309 0.902876,-1.19038 0.250907,-7.90363 0.250907,-7.90363 0,0 6.896159,0.61488 6.899999,0 0.1274,-20.40601 -0.24422,-38.6239 -7.150906,-43.28178 -0.959635,-0.64718 0,-122.192613 0,-122.192613 0,0 -5.255038,-46.6488209 -16.810895,-46.7945016 z" id="path461" sodipodi:nodetypes="scsscscccscsscs" inkscape:export-filename="path461.svg" inkscape:export-xdpi="96" inkscape:export-ydpi="96" /%3E%3C/g%3E%3C/svg%3E%0A');
}


.NBButton{
  background: none;
  border: none;
  font: 7mm Arial;
  list-style-type: none;
  color: white;
}


.NavBar{

  display: block;
  position:fixed;
  right: 2vw;
  height: 100vh;
}

.NavBar li{
  right: 6vw;
  position:fixed;
  line-height:0px;
  font: 7mm Arial;
  list-style-type: none;
  color: white;
}

#NBPresentation{
  top: calc(100vh/8 * 1);
  height: 100vh;
  color:white;
}
#NBCV{
  top: calc(100vh/8 * 3);
  height: 100vh;
  color:white;
}
#NBParcours{
  top: calc(100vh/8 * 5);
  height: 100vh;
  color:white;
}
#NBProjets{
  top: calc(100vh/8 * 7);
  height: 100vh;
  color:white;
}
